body {
  margin: 0 !important;
  padding: 0 !important;
}
.bold-hr {
  border-top: 10px solid tomato;
  border-radius: 10px;
  width: 100%;
}
.or-bg {
  background-color: #ed6939;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* nav section  */
.logo {
  width: 250px !important;
}
.fa-bars {
  color: transparent !important;
  background-image: linear-gradient(to right, orange, red);
  background-clip: text;
  -webkit-background-clip: text;
  display: inline-block;
  font-size: 35px !important;
  font-weight: bolder !important;
}
.md-hidden {
  visibility: hidden !important;
}
.sm-hidden {
  visibility: visible !important;
}
.special-nav-bg {
  background-color: #f4b288 !important;
  color: white !important;
}
/* banner section  */
.banner {
  padding: 90px 0px !important;
  margin-top: 50px;
}
.banner-text-color {
  color: #ed6939;
}
.banner-img1 {
  width: 340px;
  filter: drop-shadow(5px 5px 8px #000) !important;
}
.banner-img2 {
  position: absolute;
  bottom: 240px !important;
  right: 40px !important;
  width: 200px !important;
  filter: drop-shadow(5px 5px 8px #000) !important;
}

.banner-p-1 {
  animation: move 5s;
}
.banner-p-2 {
  animation: show 6s;
}
@keyframes move {
  0% {
    transform: translateY(80px);
  }
  50% {
    transform: translateY(80px);
  }
  100% {
    transform: translate(0px);
  }
}
@keyframes show {
  0% {
    opacity: 0;
    display: none;
  }
  50% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
/* how it works section  */
.special-bg {
  background-color: #fceee6;
  width: 100%;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}
/* request an offer  */
.bg-request {
  background-color: #ed6939;
  border: 1px solid #ed6939;
  text-align: center;
  color: white;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  width: 1000px;
}
.raf-size {
  font-size: 50px !important;
}

/* footer section  */
.footer {
  margin-top: 20px;
  margin-bottom: 0px;
  background-color: #ed6939;
  padding-top: 20px;
  padding-bottom: 2px;
}
.footer > div {
  width: 1000px;
}
/* responsive section  */
@media (max-width: 740px) {
  /* nav section  */
  .md-hidden {
    visibility: visible !important;
  }
  .logo {
    width: 200px !important;
  }
  .sm-hidden {
    visibility: hidden !important;
  }
  /* banner section  */
  .banner {
    padding: 50px 30px !important;
    margin-top: 0px;
  }
  .banner-img2 {
    position: absolute;
    bottom: 200px !important;
    right: 50px !important;
    width: 140px !important;
  }
  .banner-img1 {
    width: 250px;
  }
  /* how it works section  */
  .special-bg {
    width: 95%;
    filter: drop-shadow(5px 10px 5px rgba(0, 0, 0, 0.5));
  }
  /* request an offer  */
  .bg-request {
    width: 300px;
  }
  .raf-size {
    font-size: 20px !important;
  }
  /* footer section  */

  .footer > div {
    width: 300px;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  .md-hidden {
    visibility: visible !important;
  }
  .sm-hidden {
    visibility: hidden !important;
  }

  .banner-img1 {
    width: 300px;
  }
  .banner-img2 {
    position: absolute;
    bottom: 240px !important;
    right: -10px !important;
    width: 180px !important;
  }
  /* request an offer  */
  .bg-request {
    width: 600px;
  }
  .raf-size {
    font-size: 50px !important;
  }
  /* footer section  */

  .footer > div {
    width: 700px;
  }
}
@media (min-width: 1440px) {
  .banner-img1 {
    width: 340px;
  }
  .banner-img2 {
    position: absolute;
    bottom: 250px !important;
    right: 90px !important;
    width: 200px !important;
  }
  .footer > div {
    width: 1600px;
  }
}
